.datatable-badge-purchase {
    background-color: #f6d1fa;
    color: #5f0656;
}

.datatable-badge-redemption {
    background-color: #ffedd5;
    color: #9a3412;
}

.datatable-badge-transfer {
    background-color: #dbeafe;
    color: #1e40af;
}

.datatable-badge-adjustment {
    background-color: #f3f4f6;
    color: #374151;
}

.datatable-badge-event {
    background-color: rgb(167, 246, 255);
    color: rgb(0, 106, 118)
}