.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0 2rem;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-menu {
    display: flex;
    gap: 1rem;
    list-style: none;
    text-align: center;
}

.nav-item {
    align-content: center;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .navbar {
        align-items: center;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: calc(100% + 2rem);
        left: -2rem;
        position: absolute;
        top: 80px;
        padding: 0;
        margin: 0;
    }

    .nav-menu.active {
        background: #242222;
        opacity: 1;
        z-index: 1;
    }

    .nav-menu .nav-links {
        display: none;
    }

    .nav-menu.active .nav-links {
        background: #242222;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        text-align: center;
        width: 100%;
        display: block;
        padding: 1rem;
    }

    .nav-menu.active .nav-links:hover {
        background-color: #fff;
        color: #242424;
        border: 0
    }

    .nav-menu.not-logged-in {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        opacity: 1;
        flex-direction: row;
        background: transparent;
        pointer-events: auto;
    }

    .nav-menu.not-logged-in .nav-links {
        display: block;
        padding: 0.5rem 1rem;
        width: auto;
    }

    .menu-icon {
        display: block;
        font-size: 1.8rem;
        cursor: pointer;
        color: #fff;
    }

    .hamburger {
        width: 30px;
        height: 3px;
        background: #fff;
        display: block;
        position: relative;
    }

    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        left: 0;
    }

    .hamburger::before {
        top: -10px;
    }

    .hamburger::after {
        top: 10px;
    }
}